{% extends 'base.html.twig' %}

{% block title %}Vérification requise{% endblock %}

{% block body %}
    <h1>Veuillez vérifier votre email</h1>
    <p>
        Vous devez vérifier votre adresse email avant d'accéder au dashboard admin.
    </p>

    <a href="{{ path('please-verify-email') }}">Renvoyer l’email de vérification</a>
{% endblock %}
